.estiloWidget{   
    margin: 20px;
}
/* Estilo Promociones*/

.estiloFila{
    background-color: gray;
    margin-bottom: 20px;
    overflow-x: hidden;
}

/*Estilo footer */

.containerFooter{
    background-color: rgb(211, 203, 203);
}
.redesSociales{
    display: flex;
    padding: 10px;   
}

/* estilo navbar*/

.estiloBtnCarrito{
    background-color: rgb(213, 205, 205);
}

/* ITEMS DETAIL*/
.ContenedorItemDetail{
    background-color: green;
    
}